.root {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 200px auto;
}

.form {
    display: flex;

    flex-direction: column;

    gap: 10px;
}

.list {
    display: flex;

    flex-direction: column;
    align-items: start;
}

.list-item {
    display: flex;

    gap: 5px;
}

.text-success {
    color: green;
}

.text-error {
    color: red
}

.text-through {
    text-decoration: line-through;
}